body {
    text-align: center;
}
div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container {
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    /* flex directions are 
    1. row (left to right)
    2. row reversed (right to left)
    3. column (top to bottom)
    4. column reversed (bottom to top) */
}
#box1 {
    background-color: aqua;
}
#box2 {
    background-color: rgb(255, 34, 0);
}
#box3 {
    background-color: rgb(238, 255, 0);
}
#box4 {
    background-color: rgb(0, 255, 55);
}
#box5 {
    background-color: rgb(255, 0, 212);
}