div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 10px solid black;
    display: inline-block;
}
body {
    background-size: cover;
    background-image: url("car_photo.jpg");
}